.carousel-nav {
  height: 100%;
  border: 0;
  outline: none;
  color: white;
  font-size: 24px;
  padding: 15px;
  cursor: pointer;
  background-color: black;
  opacity: .5;

  &.-left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  &.-right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }


  &:active {
    box-shadow: 1px 1px 4px #000 inset;
    color: #d4d4d4;
    opacity: .55;
  }
}