.carousel {
  position: relative;
  min-width: 420px;
  margin: 5px;

  &__nav {
    position: absolute;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    z-index: 2;

    &.-left {
      left: 0;
    }

    &.-right {
      right: 0;
    }

    &:active {
      opacity: 0.55;
    }
  }

  &__image {
    width: 100%;
    z-index: 1;
  }

}