$base-color: #21252b;
$text-base-color: #a5abb9;
$highlight-color: #e91e63;

.App {
  margin: 0;
  padding: 0;
  background-color: $base-color;
  color: $text-base-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

